databases:
  - name: mysitedb
    plan: free
    databaseName: sqlite
    user: sqlite
services:
  - type: web
    plan: free
    name: multilang_site
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "python -m gunicorn multilang_site.asgi:application -k uvicorn.workers.UvicornWorker"    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: mysitedb
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4