databases:
  - name: mysitedb
    plan: free
    databaseName: sqlite_d4bp
    user: sqlite

services:
  - type: web
    plan: free
    name: multilang_site
    runtime: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: mysitedb
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 1  # Replace with the appropriate value if needed
    buildCommand: ""
    startCommand: ""
